@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body
{
    font-family: "Poppins", sans-serif;
}

.section1
{
    background-color: #FFCDD2; 
    color: #D83519; 
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#btn1
{
    background-color: #D83519;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#btn1:hover
{
    background-color: #C12F16;
    font-size: 1.05rem;
}

.section1 h2
{
    font-size: 5rem;
    font-weight: 600;
}

.section2
{
    background-color: #2941AB;
    text-align: center;
    color: #1ED760;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.section2 h2
{
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section2 p
{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

#btn2
{
    background-color: #1ED760;
    color: #2941AB;
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#btn2:hover
{
    font-size: 1.05rem;
}

.footer
{
    background-color: black;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container
{
    padding-left: 34rem;
}

.socials
{
    color: white;
    background-color: black;
    text-align: center;
}